{% extends 'layouts/base.html' %}

{% block title %} Edit Job {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0"> Edit Job</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/dashboard/jobs/"> Jobs Listing</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Edit Job</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Update {{job.id}} Details</h3>
          </div>
          <!-- Light table -->
          <div class="text-center text-muted mb-4">

              {% if msg %}
              <h3>{{ msg | safe }}</h3>
              {% else %}
              <h3>Update Job</h3>
              {% endif %}

          </div>
          <div class="card-body">
            <form class="form-horizontal"action="/dashboard/jobs/update/{{ job.id }}/" method="POST"  >
              {% csrf_token %}
              <div class="card-body">
                <div class="form-group row">
                    <label for="{{ job.id }}" class="col-lg-3 col-form-label">Job ID: </label>
                    <div class="col-lg-7">
                    <input type="number" class="form-control" name="id" value="{{ job.id }}" placeholder="Enter Job ID:" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ job.start_datetime }}" class="col-lg-3 col-form-label">Job Start Date And Time: </label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" name="start" value="{{ job.start_datetime}}" placeholder="Enter Start Date and Time:" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ job.end_datetime }}" class="col-lg-3 col-form-label">Job End Date And Time: </label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" name="end" value="{{ job.end_datetime}}" placeholder="Enter End Date and Time:" />
                    </div>
                </div>
            <a class="btn btn-warning  col-md-2" href="/dashboard/jobs/" type="button">Back To Listing&nbsp;&nbsp;&nbsp;<span></span></a>
            <button class="btn btn-primary col-md-2" type="submit">Update Job &nbsp;&nbsp;&nbsp;<span></span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  const phoneInputField = document.querySelector("#phone");
  const phoneInput = window.intlTelInput(phoneInputField, {
    utilsScript:
      "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
  });
</script>
{% endblock javascripts %}
