{% extends 'layouts/base.html' %}

{% block title %} Service Category History {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0"> Service Category</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/dashboard"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"> Service Category Listing</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="create/" class="btn btn-sm btn-neutral">New</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Service Category</h3>
          </div>
          <!-- Light table -->
          <div class="card-body">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            <div class="table-responsive">
              <table class="table align-items-center table-flush"  id="dataTable">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="id">ID</th>
                    <th scope="col" class="sort" data-sort="parent_id">Parent ID</th>
                    <th scope="col" class="sort" data-sort="name">Name</th>
                    <th scope="col" class="sort" data-sort="budget">Created At</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for user in servicesData %}
                  <!-- <h1>{{user}}</h1> -->
                  <tr>
                      <td>{{ user.id }}</td>
                      <td>{{ user.parent_id }}</td>
                      <td>{{ user.name  }}</td>
                      <td>{{ user.created_at  }}</td>
                      <!-- <td>{{ user.created_at  | date:"d-m-Y H:i:s" }}</td> -->
                      <td>
                          <a class="btn btn-sm btn-info" href="/dashboard/service_category/view/{{ user.id }}/"> <span class="fa fa-edit"></span> View</a>
                          <a class="btn btn-sm btn-warning" href="/dashboard/service_category/edit/{{ user.id }}/"> <span class="fa fa-edit"></span> Edit</a>
                          <a class="btn btn-sm btn-danger" href="/dashboard/service_category/delete/{{ user.id }}/"><span class="fa fa-trash"></span> Delete</a>
                      </td>
                  </tr>
              {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
