{% extends 'layouts/base.html' %}

{% block title %} View Change Log {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0"> View Change Log</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/dashboard"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/dashboard/change-log"> Change Log Listing</a></li>
                <li class="breadcrumb-item active" aria-current="page"> View Change Log</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <!-- <a href="/dashboard/user/view/transactions/{{ accountData.id }}/" class="btn btn-sm btn-neutral">View Transactions</a>
            <a href="/dashboard/user/view/accounts/{{ accountData.id }}/" class="btn btn-sm btn-neutral">View Accounts</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">Change Log {{changeLogsData.index.id }} Details</h3>
            </div>
          <!-- Light table -->
            <div class="card-body">
              <form>
                <div class="form-group row">
                    <label for="{{ changeLogsData.index.id }}" class="col-lg-3 col-form-label">ID: </label>
                    <div class="col-lg-7">
                    <input type="text" class="form-control" value="{{ changeLogsData.index.id }}" placeholder="No Data Found" disabled/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ changeLogsData.action }}" class="col-lg-3 col-form-label">Action Performed: </label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="{{ changeLogsData.action }}" placeholder="No Data Found" disabled/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ changeLogsData.table }}" class="col-lg-3 col-form-label">Action Performed On Table: </label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="{{ changeLogsData.table }}" placeholder="No Data Found" disabled/>
                    </div>
                </div>
        
                <div class="form-group row">
                    <label for="{{ changeLogsData.index.description}}" class="col-lg-3 col-form-label">Description: </label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="{{ changeLogsData.index.description }}" placeholder="No Data Found" disabled/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ changeLogsData.index.created_at }}" class="col-lg-3 col-form-label">Created At: </label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="{{ changeLogsData.index.created_at }}" placeholder="No Data Found" disabled/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ changeLogsData.index.created_by }}" class="col-lg-3 col-form-label">Created By: </label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" value="{{ changeLogsData.index.created_by }}" placeholder="No Data Found" disabled/>
                    </div>
                </div>

                <a class="btn btn-primary  col-md-2" href="/dashboard/change-logs/" type="button">Back To Change Logs &nbsp;&nbsp;&nbsp;<span></span></a>
              </form>
            </div>

        </div>
        
          </div>
        </div>
      </div>
    </div>
    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
